#ChatWindow {
  position: absolute;
  z-index: 1;
  background: black;
  border: 1px solid white;
  min-height: 200px;
  min-width: 400px;
  overflow:hidden;
  border-radius: 8px;
}
#ChatWindowheader {
  border: 1px solid white;
  padding: 10px;
  height: 15px;
  background-color: grey;
  color: #fff;
}
#ChatTitle {
  font-size: 12px;
  position: absolute;
  padding-left: 5px;
  padding-bottom: 5px;
  text-shadow: 1px 1px black;
  cursor: default;
}
#user-messages {
  word-break: break-all;
  overflow: auto;
  width: calc(100% - 10px);
  height: calc(100% - 76px);
  position: absolute;
  color:#00ff00;
  cursor: default;
  padding: 5px;
  color: white;
}
#send-message {
  position: absolute;
  bottom: -6px;
  left: -1px;
  border: 1px solid white;
  height: 27px;
  padding-top: 5px;
  padding-left: 5px;
  width: calc(100% - 6px);
}
#title {
  font-weight: bold;
  font-size: 90%;
}
#message {
  padding:5px;
}