#NPCWindow {
  position: absolute;
  z-index: 1;
  background: black;
  border: 1px solid white;
  min-height: 290px;
  min-width: 440px;
  overflow: hidden;
  border-radius: 8px;
}
#NPCWindowheader {
  border: 1px solid white;
  padding: 10px;
  height: 15px;
  background-color: grey;
  color: #fff;
}
#NPCTitle {
  font-size: 12px;
  position: absolute;
  padding-left: 5px;
  padding-bottom: 5px;
  text-shadow: 1px 1px black;
  cursor: default;
}
#NPCArea {
  overflow: auto;
  width: 100%;
  height: calc(100% - 37px);
  position: absolute;
}
#reload {
  float: left;
}

#NPCListCollapse, #PlayerListCollapse {
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 5%;
  cursor: pointer;
}

#NPCList, #PlayerList * {
  width: 95%;
  color: white;
  /* padding-top: 5%; */
  padding-left: 15px;
  font-size: 75%;
}
