#NPCWindow {
  position: absolute;
  z-index: 1;
  background: black;
  border: 1px solid white;
  min-height: 290px;
  min-width: 440px;
  overflow: hidden;
  border-radius: 8px;
}
#NPCWindowheader {
  border: 1px solid white;
  padding: 10px;
  height: 15px;
  background-color: grey;
  color: #fff;
}
#NPCTitle {
  font-size: 12px;
  position: absolute;
  padding-left: 5px;
  padding-bottom: 5px;
  text-shadow: 1px 1px black;
  cursor: default;
}
#NPCArea {
  overflow: auto;
  width: 100%;
  height: calc(100% - 37px);
  position: absolute;
}
#searchbar {
  font-size: 15px;
  outline: none;
  width: 80%;
  resize: none;
  cursor: text;
  background-color: grey;
  border: 1px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
#reload {
  float: left;
}