#NPCWindow {
  position: absolute;
  z-index: 1;
  background: black;
  border: 1px solid white;
  min-height: 290px;
  min-width: 440px;
  overflow: hidden;
  border-radius: 8px;
}
#NPCWindowheader {
  border: 1px solid white;
  padding: 10px;
  height: 15px;
  background-color: grey;
  color: #fff;
}
#NPCTitle {
  font-size: 12px;
  position: absolute;
  padding-left: 5px;
  padding-bottom: 5px;
  text-shadow: 1px 1px black;
  cursor: default;
}

#NPCWindowresize-tleft {
  cursor: nwse-resize;
  top: 2px;
}

#NPCWindowresize-tright {
  cursor: nesw-resize;
  top: 2px;
  right: 0;
}

#NPCWindowresize-bleft {
  bottom: -4px;
  cursor: nesw-resize;
}

#NPCWindowresize-bright {
  cursor: nwse-resize;
  bottom: -4px;
  right: 0;
}

#NPCArea {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: calc(100% - 37px);
  position: absolute;
}
#reload {
  float: left;
}

#NPCListCollapse, #PlayerListCollapse {
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 5%;
  cursor: pointer;
}

#NPCList, #PlayerList {
  width: 95%;
  color: white;
  padding-left: 15px;
  font-size: 75%;
}

